/* 
    Created on : 24/10/2017, 00:23:16
    Author     : Carlos
*/
.navbar-header{
    background-color: #f780b8;
}
div#myNavbar{
    /*background-color: rgba(255, 255, 255, 0.95);*/
    background-color:antiquewhite;
    box-shadow: 1px 1px 4px black;
    border: none;
}
#myNavbar ul li a{
    color: chocolate;
}

.navbar-inverse .navbar-nav>li>a{
    color:#000;
}
#myNavbar ul li ul li a{
    color:#000;
}
header{
    background-color: #f780b8;
    /*background-color: #ffe75e;*/
}
form#formulario{
    width: 29%;
    margin-left: 40%;
    margin-top: -8%;
}
form#pesquisa{
    margin-top: 15%;
}
img#logo{
    margin-top:5%;
}
img#carrinhoCompras{
    margin-top: 10%;
}
.rosaFraco{
    background-color: antiquewhite;
}
#menuLateral{
    margin-left: -1.2%;
}
a#teste{
    margin-left:400px;/*Retirar isso quando começar a diminuir a tela no media query*/
}

img.galeria{
    width:100%;
}
li.active a.item{
    background-color: #ffb5ba;
    /*padding: 5px;*/
    color: black;
    margin-top: 1%;
}
li.active a.item:hover{
    background-color: #ffb5ba;
    color: black;
}
a#meninas{
    background-color: rgba(249, 226, 82, 0.93);
}
a#meninos{
    background-color: #adb9db;
}
.bege{
    background-color: rgba(249, 228, 94, 0.56);
}
.azul{
    background-color: #cddff8;
}
.chocolate{
    color:#d2691e;
}

a.letraPreta{
    color:black;
}
div#acessorios{
    margin-bottom:1%;
}
div#meninos{
    margin-top: 1%;
}
.descricao{
    text-align: center;
}
.margemTop{
    margin-top: 2%;
}
.vermelho{
    color:#d43f3a;
}
div.thumbnail{
    height: 369px;
}
.margemEsquerda {
    margin-left: 15.5%;
}
div#produtoDestaque{
    margin-left: 16%;
    margin-top: 20px;
}
.compra{
    /*Essa configurações abaixo centralizam elementos html*/
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.centralizarImagem{
    margin-left: auto;
    margin-right: auto;
}
#primeiroMenu{
    border:none;
}
p#textoMenu{
    margin-left: 85%;
    margin-bottom: -2%;
    color: #f0f8ff;
}
#botaoMenuMobile{
    background-color: #ffb5ba;
}
footer{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-bottom: 40px;
    background-color: #d3d3d3;
}
div.container-fluid{
    width: 100%;
}
#botaoLateralSapatosFemininos, #botaoLateralRoupasFemininas, #botaoLateralRoupasMasculinas, #botaoLateralSapatosMasculinos{
    /*display:none;*/
}
.thumbnail:hover{
    box-shadow: 1px 1px 4px black;
    border: 1px solid #3c763d;
}
a div.caption.descricao{
    height: 110px;
}
.tamanhoImagem{
    height: 140px;
}
a.left.carousel-control{
    background: none;
}
a.right.carousel-control{
    background: none;
}
#setaDireita,#setaEsquerda,#setaEsquerdaDesktop, #setaDireitaDesktop {
    background: black;
}
#setaEsquerda{
    background: black;
}
div.carousel-inner{
    margin-left: 10%;
    width: 80%;
}
@media screen and (min-width: 412px){

    p#textoMenu{
        margin-left: 87%;
    }
}
@media screen and (max-width: 414px){
    #menuLateral{
        display: none;
    }
    #carrinhoCompras{
        display: none;
    }
    #campoInput{
        margin-bottom: 1%;
        margin-top: -45px;
    }
    img#logo{
        margin-top: 5%;
        margin-left: 25%;
        margin-left: 28%
    }
}
@media screen and (min-width: 414px){
    #menuLateral{
        display: none;
    }
    #carrinhoCompras{
        display: none;
    }
    #campoInput{
        margin-bottom: 1%;
        margin-top: -45px;
    }
    img#logo{
        margin-top: 5%;
        margin-left: 25%;
        margin-left: 28%
    }
}

@media screen and (max-width: 572px){
    .navbar-inverse{
        display: block;
    }
    header, .rosaFraco{
        display:none;
    }
    div#section{
        margin-top: -20px;
    }
}
@media screen and (min-width: 573px){
    .navbar-inverse{
        display: none;
    }
    header, .amarelo{
        display:block;
    }
    div#section{
        margin-top: 0px;
    }
    #imagemConstrucao{
        margin-left: 4%;
    }
}

@media screen and (min-width: 640px){
    #menuLateral{
        display: none;
    }
    #campoInput{
        margin-bottom: 1%;
        margin-top: -75px;
    }
    img#logo{
        margin-left: 0%;
    }
    #imagemConstrucao{
        margin-left: 12%;
    }
}
@media screen and (max-width: 768px){
    .margemEsquerda {
        margin-left: 0%;
    }
    div.thumbnail {
        height: 300px;
    }
    #carroselMobile{
        display: block;
    }
    #desktop{
        display: none;
    }
}
@media screen and (min-width : 768px ){
    #carroselMobile{
        display: block;
    }
    #desktop{
        display: none;
    }
    #camisetaMasculinaInfantil{
        margin-top:9%;
    }
    #menuLateral{
        display: block;
    }
    .margemEsquerda {
        margin-left: 0%;
    }
    div.thumbnail {
        height: 300px;
    }
    #campoInput{
        margin-top: 55px;
    }
    #carrinhoCompras{
        display: block;
    }
    #imagemConstrucao{
        margin-left: 17%;
    }
}
@media screen and (min-width : 768px ){
    #imagemConstrucao{
        margin-left: 5%;
    }
}
@media screen and (min-width : 998px ){
    #carroselMobile{
        display: none;
    }
    #desktop{
        display: block;
    }
}
@media screen and (min-width : 1024px ){
    #camisetaMasculinaInfantil{
        margin-top:2%;
    }
    .margemEsquerda {
        margin-left: 0%;
    }
    #camisetaMasculinaInfantil{
        margin-top:7%;
    }
    #menuLateral{
        margin-left: -0.9%;
    }
    #imagemConstrucao{
        margin-left: 15%;
    }
}
@media screen and (min-width : 1027px ){
    #camisetaMasculinaInfantil{
        margin-top:2%;
    }
}
@media screen and (min-width : 1200px ){
    .margemEsquerda {
        margin-left: 15.5%;
    }
}
@media screen and (min-width : 1200px ){
    #imagemConstrucao{
        margin-left: 25%;
    }
}
